@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <h1>Aprende mas sobre nosotros</h1>
        <div class="span8">
            <h4 class="title-bg"> Que es EnglishPlatform?</h4>
            <p>EnglishPlatform es una plataforma en linea para la enseñanza de ingles, el idioma mas hablado y comercial del mundo, nuestra plataforma permitira a nuestros alumons un aprendizaje eficaz y completo</p>
            <p>Nos sentimos comprometidos con sus esfuerzos por mejorar y por sus deseos de conocer el mundo</p>
            <h4 class="title-bg">NUESTRO PROCESO</h4>
            <div class="row">
                <div class="span2 middle">
                    <p><img src="~/img/service01.png" alt="" width="80" height="80"></p>
                </div><!-- span2 -->
                <div class="span6">
                    <p><b>APRENDE</b> The first stage of the process is to define the exact goals of the project or business. The discovery phase clearly states the problem and contains all of the information needed. Understanding the business properly will allow us to develop a unique solution for you.</p>
                </div><!-- span6 -->
            </div><!-- row -->
            <hr>
            <div class="row">
                <div class="span2 middle">
                    <p><img src="~/img/service02.png" alt="" width="80" height="80"></p>
                </div><!-- span2 -->
                <div class="span6">
                    <p><b>PRACTICA</b> Now we begin to engage the creativity that is required to start developing focused design routes. Core choices about layout, type size and colour palettes are tested within a number of ideas to identify what works best in order to communicate your goals.</p>
                </div><!-- span6 -->
            </div><!-- row -->
            <hr>
            <div class="row">
                <div class="span2 middle">
                    <p><img src="~/img/service03.png" alt="" width="80" height="80"></p>
                </div>
                <div class="span6">
                    <p><b>HABLA</b> Once the design is signed off it is put into development. It is here where a working system that mimics the final design, is built with clean, semantic code that validates according to the W3C Organizations own community developed standards.</p>
                </div>
            </div>
        </div>

        <div class="span4">
            <h4 class="title2-bg">MAS INFORMACION</h4>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
                <li><a href="#about" data-toggle="tab">About</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="comments">
                    <p>Increible servicio, increible equipo y mas importante, incredibles resultados. Estamos felicez con EnglishPlatform</p>
                </div>
                <div class="tab-pane" id="about">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie.</p>
                </div>
            </div>

            <h4 class="title2-bg">TESTIMONIOS</h4>
            <div class="oneBox"> <img src="~/img/pic1.jpg" alt=""> <strong>Lisa Taylor</strong> <em>Google Inc.</em> </div>
            <div class="twoBox"><br> <p>"Working with Maximum was a wonderful experience. Our teams worked together as one. This creates an unique experience for all of us."</p><br></div>
        </div>
    </div>
    <br>
    <br>
</div>