@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <h1>Learn More About Us.</h1>
        <div class="span8">
            <h4 class="title-bg"> WHAT IS MAXIMUM?</h4>
            <p>Maximum is a small studio of web designers, developers, photographers and video experts. We all believe in effective design and are fully dedicated to creating websites that work for you and your customers. That's why we spend time getting to know you and your audience.</p>
            <p>We feel it's the only way to create websites that effectively communicate your core messages and help you to engage with your users. We're all about quality. We are not IT people, we are humans with a real wish to do good.</p>
            <h4 class="title-bg"> OUR PROCESS</h4>
            <div class="row">
                <div class="span2 middle">
                    <p><img src="assets/img/service01.png" alt="" width="80" height="80"></p>
                </div><!-- span2 -->
                <div class="span6">
                    <p><b>DISCOVER:</b> The first stage of the process is to define the exact goals of the project or business. The discovery phase clearly states the problem and contains all of the information needed. Understanding the business properly will allow us to develop a unique solution for you.</p>
                </div><!-- span6 -->
            </div><!-- row -->
            <hr>
            <div class="row">
                <div class="span2 middle">
                    <p><img src="assets/img/service02.png" alt="" width="80" height="80"></p>
                </div><!-- span2 -->
                <div class="span6">
                    <p><b>DESIGN:</b> Now we begin to engage the creativity that is required to start developing focused design routes. Core choices about layout, type size and colour palettes are tested within a number of ideas to identify what works best in order to communicate your goals.</p>
                </div><!-- span6 -->
            </div><!-- row -->
            <hr>
            <div class="row">
                <div class="span2 middle">
                    <p><img src="assets/img/service03.png" alt="" width="80" height="80"></p>
                </div><!-- span2 -->
                <div class="span6">
                    <p><b>BUILD:</b> Once the design is signed off it is put into development. It is here where a working system that mimics the final design, is built with clean, semantic code that validates according to the W3C Organizations own community developed standards.</p>
                </div><!-- span6 -->
            </div><!-- row -->
        </div><!-- span8 -->

        <div class="span4">
            <h4 class="title2-bg"> MORE INFO</h4>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
                <li><a href="#tweets" data-toggle="tab">Tweets</a></li>
                <li><a href="#about" data-toggle="tab">About</a></li>
            </ul><!--/nav tab -->

            <div class="tab-content">
                <div class="tab-pane active" id="comments">
                    <p>Incredible service, incredible team and most important, incredible results. We are so happy with Maximum that all what we do is talking about they marvelous work..</p>
                </div>
                <div class="tab-pane" id="about">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie.</p>
                </div><!--/tab pane -->
            </div><!--/tab content -->

            <h4 class="title2-bg"> TESTIMONIAL</h4>
            <div class="oneBox"> <img src="assets/img/pic1.jpg" alt=""> <strong>Lisa Taylor</strong> <em>Google Inc.</em> </div>
            <div class="twoBox"><br> <p>"Working with Maximum was a wonderful experience. Our teams worked together as one. This creates an unique experience for all of us."</p><br></div>

            <h4 class="title2-bg"> OUR STUDIO</h4>
            <img src="assets/img/studio_small.jpg" alt="">

        </div><!-- span8 -->
    </div><!-- row -->
    <br>
    <br>
</div>