@{
    ViewBag.Title = "Home Page";
}
<body>
    <section id="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/img/bg01.jpg" alt="#">
                </li>
            </ul>
        </div>
    </section>
    <div id="blackwrap">
        <div class="container">
            <h1>Tenemos clientes al rededor del mundo</h1>
            <p>No importa donde te encuentres, tenemos todo lo que necesitas para aprender ingles de una manera rapida y eficaz</p>
            <img src="~/img/globe.png" alt="">
        </div>
    </div>
    <h1>Muchos nos recomiendan</h1>
    <div class="container">
        <div class="row">
            <br>
            <br>
            <div class="span4">
                <div class="oneBox"> <img src="~/img/pic1.jpg" alt=""> <strong>Lisa Taylor</strong> <em>Google Inc.</em> </div>
                <div class="twoBox"><br> <p>"Working with Maximum was a wonderful experience. Our teams worked together as one. This creates an unique experience for all of us."</p><br></div>
            </div>
            <div class="span4">
                <div class="oneBox"> <img src="~/img/pic2.jpg" alt=""> <strong>Brad Deacon</strong> <em>Amazon</em> </div>
                <div class="twoBox"><br> <p>"Working with Maximum was a wonderful experience. Our teams worked together as one. This creates an unique experience for all of us."</p><br></div>
            </div>
            <div class="span4">
                <div class="oneBox"> <img src="~/img/pic3.jpg" alt=""> <strong>Jane Smith</strong> <em>Paypal Inc.</em> </div>
                <div class="twoBox"><br> <p>"Working with Maximum was a wonderful experience. Our teams worked together as one. This creates an unique experience for all of us."</p><br></div>
            </div>
        </div>
        <br>
    </div>
</body>